<div class="resource-card" *ngIf="resourceProp">
    <div class="card-header">{{ resourceProp.name }}</div>
    <div class="card-body">
        <div class="color-box" [ngStyle]="{'background-color': resourceProp.color}">
        </div>
        <div class="resource-detail"><strong>ID:</strong> {{ resourceProp.id }}</div>
        <div class="resource-detail"><strong>Year:</strong> {{ resourceProp.year }}</div>
        <div class="resource-detail"><strong>Pantone:</strong> {{ resourceProp.pantone_value }}</div>
    </div>
</div>